# Dependencies
node_modules/
__pycache__/
*.pyc
.env
.venv/
venv/

# Build
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# ML Model files (too large)
*.pth
*.pt
*.h5
*.pkl
*.onnx
ml/models/*.pth
ml/train/checkpoints/
ml/train/data/
ml/uploads/
ml/frames/

# Uploads
uploads/
frames/
